page-product-grid {
    .newsearch{
        ion-col, ion-row{
            padding: 0px;
        }
        button[icon-only].button-ios{
            height: auto;
            margin: 0px;
        }
        .searchbar{
            min-height: auto;
        }
        .searchbar-md .searchbar-input{
            background: rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            box-shadow: none;

        }
    }
}
